@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Gilroy";
  src: url("/src/common/assets/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("/src/common/assets/fonts/Product Sans Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("/src/common/assets/fonts/Product Sans Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("/src/common/assets/fonts/Product Sans Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("/src/common/assets/fonts/Product Sans Bold Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@theme inline {
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);
  --color-chart-8: var(--chart-8);
}

:root {
  --chart-1: oklch(0.5771 0.2126 294.66);
  --chart-2: oklch(0.6074 0.2378 340.76);
  --chart-3: oklch(0.8987 0.0393 301.84);
  --chart-4: oklch(0.8858 0.075 187.51);
  --chart-5: oklch(0.8854 0.1752 136.1);
  --chart-6: oklch(0.7668 0.1573 71.8);
  --chart-7: oklch(0.9086 0.2026 116.08);
  --chart-8: oklch(0.7804 0.1023 241.03);
}

@layer base {
  .noise {
    position: absolute;
    inset: 0;
    z-index: 1000;
    pointer-events: none;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.1'/%3E%3C/svg%3E");
  }
}

@layer utilities {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
