@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("/src/assets/fonts/Product Sans Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("/src/assets/fonts/Product Sans Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("/src/assets/fonts/Product Sans Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("/src/assets/fonts/Product Sans Bold Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --chart-1: oklch(0.5771 0.2126 294.66);
  --chart-2: oklch(0.6074 0.2378 340.76);
  --chart-3: oklch(0.8987 0.0393 301.84);
  --chart-4: oklch(0.8858 0.075 187.51);
  --chart-5: oklch(0.8854 0.1752 136.1);
  --chart-6: oklch(0.7668 0.1573 71.8);
  --chart-7: oklch(0.9086 0.2026 116.08);
  --chart-8: oklch(0.7804 0.1023 241.03);
}

@layer base {
  body {
    font-family: "Product Sans", sans-serif;
  }
}
